prometheus:
  ingress:
    enabled: true
    ingressClassName: nginx
    annotations:
      cert-manager.io/cluster-issuer: letsencrypt-staging
    hosts:
      - prometheus.development.ar
    paths:
      - /
    tls:
      - secretName: prometheus-tls
        hosts:
          - prometheus.development.ar

grafana:
  ingress:
    enabled: true
    ingressClassName: nginx
    annotations:
      cert-manager.io/cluster-issuer: letsencrypt-staging
    hosts:
      - grafana.development.ar
    path: /
    tls:
      - secretName: grafana-tls
        hosts:
          - grafana.development.ar
